Repository hlopes/quiz-game: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, stylelint

.lintstagedrc:

{
    "*.{json,md}": ["prettier-eslint --write"],
    "*.{js, ts, tsx}": ["prettier-eslint --write", "stylelint"]
}

chore: fix minor issues
  .env.prod
  .gitignore
  components/layout/footer/index.tsx
  pages/game/styles.ts
  theme/styles.tsx
Due: none

chore: fix minor issues
  pages/game/index.tsx
  pages/game/question/Question.tsx
Due: none

chore: fix minor issues
  components/gender-input/index.tsx
  components/gender-input/styles.ts
  components/question/Question.tsx
  components/question/styles.ts
  pages/about/index.tsx
  pages/account/index.tsx
  pages/game/index.tsx
  theme/pages/About.styles.ts
  theme/pages/Account.styles.ts
  theme/pages/Game.styles.ts
Due: none

chore: fix minor issues
  components/layout/navigation/desktop/index.tsx
  components/layout/navigation/mobile/index.tsx
Due: none

chore: fix minor issues
  .env.prod
  pages/api/auth/[...nextauth].ts
Due: none

chore: fix minor issues
  pages/api/auth/[...nextauth].ts
Due: none

fix: add only auth0 authentication
  .env.prod
  pages/api/auth/[...nextauth].ts
Due: none

test: env vars live
  components/layout/document-head/index.tsx
  lib/user.ts
  pages/account/index.tsx
  pages/api/preferences/[userid].ts
Due: none

fix: remove env var in account
  lib/user.ts
  pages/account/index.tsx
Due: none

chore: fix minor issues
  .idea/inspectionProfiles/Project_Default.xml
  helpers/useGetPreferences.ts
  helpers/usePlayer.ts
  helpers/usePreferences.ts
  helpers/useSetPreferences.ts
  helpers/useSetScore.ts
  helpers/useWithSession.tsx
  lib/preferences.ts
  lib/user.ts
  pages/account/index.tsx
  pages/api/player/index.ts
  pages/api/preferences/[userid].ts
  pages/api/preferences/index.ts
  pages/game/index.tsx
  utils/errors.ts
Due: none

chore: fix minor issues
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: test orm config
  ormconfig.js
Due: prettier-eslint --write, stylelint

chore: test typeorm
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: fix next-auth
  ormconfig.js
  package.json
  yarn.lock
Due: prettier-eslint --write, stylelint

chore: test
  package.json
  patches/next-auth+3.4.1.patch
  yarn.lock
Due: prettier-eslint --write

chore: typeorm
  package.json
  patches/next-auth+3.4.1.patch
  yarn.lock
Due: prettier-eslint --write

fix: fix loading in account and new game
  components/global-loader/index.tsx
  helpers/useWithSession.ts
  helpers/useWithSession.tsx
  pages/account/index.tsx
  pages/game/index.tsx
Due: none

fix: fix next-auth
  package.json
  yarn.lock
Due: prettier-eslint --write

refactor: add several improvements
  components/input/index.tsx
  components/input/styles.ts
  components/layout/navigation/desktop/index.tsx
  components/layout/navigation/desktop/styles.ts
  components/layout/navigation/mobile/index.tsx
  components/signin-form/index.tsx
  components/signin-form/styles.ts
  helpers/Providers.tsx
  helpers/usePlayer.ts
  helpers/usePlayerContext.tsx
  helpers/usePreferences.ts
  helpers/useSetScore.ts
  helpers/useWithSession.ts
  lib/player.ts
  lib/preferences.ts
  lib/user.ts
  package.json
  pages/_app.tsx
  pages/account/index.tsx
  pages/api/auth/[...nextauth].ts
  pages/api/auth/login.ts
  pages/api/player/index.ts
  pages/api/preferences/[userid].ts
  pages/api/preferences/index.ts
  pages/api/score/index.ts
  pages/game/index.tsx
  pages/index.tsx
  pages/signin/index.tsx
  types/Player.ts
  types/PlayerContext.ts
  types/User.ts
  types/UserContext.ts
  utils/errors.ts
  yarn.lock
Due: prettier-eslint --write

refactor: add several improvements
  components/layout/navigation/desktop/index.tsx
  pages/account/index.tsx
  pages/signin/index.tsx
  theme/pages/Account.styles.ts
Due: none

feat: part 2 completed
  components/button/styles.ts
  components/dark-mode-toggle/styles.ts
  components/dark-mode-toggle/toggle/index.tsx
  components/gender-input/index.tsx
  components/layout/Layout.styles.ts
  components/layout/Layout.tsx
  components/layout/navigation/desktop/styles.ts
  components/layout/navigation/mobile/index.tsx
  components/layout/navigation/mobile/styles.ts
  components/question/Question.tsx
  components/signin-form/index.tsx
  package.json
  pages/about/index.tsx
  pages/account/index.tsx
  pages/game/index.tsx
  pages/index.tsx
  pages/signin/index.tsx
  theme/layers.ts
  theme/pages/About.styles.ts
  theme/styles.tsx
  theme/variables.ts
  yarn.lock
Due: prettier-eslint --write

fix: fix top in home
  pages/index.tsx
Due: none
